In [1]:
import tensorflow as tf 
from tensorflow import keras
import pandas as pd 
import numpy as np 
import os
import matplotlib.pyplot as plt 
import time

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [4]:
df.shape

(7613, 5)

In [5]:
print((df.target == 1).sum()) # disaster
print((df.target == 0).sum()) # no disaster

3271
4342

In [7]:
# Preprocessing

import re # Regular Expression
import string

def remove_url(text):
        url = re.compile(r"https?://\S+|www\.\S+")
        return url.sub(r"", text)

def remove_punc(text):
    translator = str.maketrans("", "", string.punctuation)
    return text.translate(translator)

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
pattern = re.compile(r"https?://(\S+|www)\.\S+")
for t in df.text:
    matches = pattern.findall(t)
    for match in matches:
        print("1")
        print(t)
        print("2")
        print(match)
        print("3")
        print(pattern.sub(r"", t))
    if len(matches) > 0:
        break

1
@bbcmtd Wholesale Markets ablaze http://t.co/lHYXEOHY6C
2
t
3
@bbcmtd Wholesale Markets ablaze

In [9]:
df['text'] = df.text.map(remove_url)        # map(lambda x: remove_url(x))
df['text'] = df.text.map(remove_punc)
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this earthquake Ma...      1
1   4     NaN  ...              Forest fire near La Ronge Sask Canada      1
2   5     NaN  ...  All residents asked to shelter in place are be...      1
3   6     NaN  ...  13000 people receive wildfires evacuation orde...      1
4   7     NaN  ...  Just got sent this photo from Ruby Alaska as s...      1

[5 rows x 5 columns]

In [10]:
# remove stopwords 
# (Stopwords are the English words which does not add much meaning to a sentence. They can safely be ignored           without sacrificing the meaning of the sentence. For example, the words like the, he, have etc. Such words are      already captured this in corpus named corpus.
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop = set(stopwords.words("english"))

def remove_stopwords(text):
    filtered_words = [word.lower() for word in text.split() if word.lower() not in stop]
    return " ".join(filtered_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [11]:
df["text"] = df.text.map(remove_stopwords)
df.text

0            deeds reason earthquake may allah forgive us
1                   forest fire near la ronge sask canada
2       residents asked shelter place notified officer...
3       13000 people receive wildfires evacuation orde...
4       got sent photo ruby alaska smoke wildfires pou...
                              ...
7608    two giant cranes holding bridge collapse nearb...
7609    ariaahrary thetawniest control wild fires cali...
7610                      m194 0104 utc5km volcano hawaii
7611    police investigating ebike collided car little...
7612    latest homes razed northern california wildfir...
Name: text, Length: 7613, dtype: object

In [12]:
from collections import Counter

# Count unique words
def counter_word(text_col):
    count = Counter()
    for text in text_col.values:
        for word in text.split():
            count[word] += 1
    return count

counter = counter_word(df.text)

In [13]:
len(counter)

17971

In [14]:
# counter

In [15]:
counter.most_common(5)

[('like', 345), ('im', 299), ('amp', 298), ('fire', 250), ('get', 229)]

In [16]:
num_unique_words = len(counter)

In [17]:
train_size = int(df.shape[0] * 0.8)
train_df = df[:train_size]
val_df = df[train_size:]

train_sentence = train_df.text.to_numpy()
train_labels = train_df.target.to_numpy()
val_sentence = val_df.text.to_numpy()
val_labels = val_df.target.to_numpy()

In [18]:
train_sentence.shape, val_sentence.shape
train_sentence

array(['deeds reason earthquake may allah forgive us',
       'forest fire near la ronge sask canada',
       'residents asked shelter place notified officers evacuation shelter place orders expected',
       ..., 'feel like sinking unhappiness take quiz',
       'sinking music video tv career brooke hogan thanking dad free publicityalthough doubt help',
       'supernovalester feel bad literally feel feeling heart sinking bc didnt get anyone ugh jfc'],
      dtype=object)

In [19]:
# tokenize 

from tensorflow.keras.preprocessing.text import Tokenizer

# vectorize a text corpus by turning each text into a sequence of interger
tokenizer = Tokenizer(num_words=num_unique_words)
tokenizer.fit_on_texts(train_sentence)  # fit only to training

In [20]:
# each word has unique index
word_index = tokenizer.word_index

In [21]:
# word_index

In [22]:
train_sequence = tokenizer.texts_to_sequences(train_sentence)
val_sequence = tokenizer.texts_to_sequences(val_sentence)

In [23]:
print(train_sentence[0:5])
print(train_sequence[0:5])

['deeds reason earthquake may allah forgive us'
 'forest fire near la ronge sask canada'
 'residents asked shelter place notified officers evacuation shelter place orders expected'
 '13000 people receive wildfires evacuation orders california'
 'got sent photo ruby alaska smoke wildfires pours school']
[[3739, 696, 235, 41, 1282, 3740, 14], [71, 3, 129, 576, 5670, 5671, 1283], [1448, 1186, 1882, 495, 5672, 1449, 116, 1882, 495, 976, 1187], [2243, 8, 3741, 1070, 116, 976, 24], [27, 1071, 358, 5673, 1635, 892, 1070, 5674, 91]]

In [24]:
# pad the sentence to have the same length
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Maximum number of words in a suquence
max_length = 20

train_padded = pad_sequences(train_sequence, maxlen=max_length, padding="post", truncating="post")
val_padded = pad_sequences(val_sequence, maxlen=max_length, padding="post", truncating="post")
train_padded.shape, val_padded.shape

((6090, 20), (1523, 20))

In [25]:
train_padded[0]

array([3739,  696,  235,   41, 1282, 3740,   14,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0], dtype=int32)

In [26]:
print(train_sentence[10])
print(train_sequence[10])
print(train_padded[10])

three people died heat wave far
[520, 8, 395, 156, 297, 411]
[520   8 395 156 297 411   0   0   0   0   0   0   0   0   0   0   0   0
   0   0]

In [27]:
# Check reversing the indices

# flip key, values
reverse_word_index = dict([(idx, word) for word, idx in word_index.items()])

In [28]:
# reverse_word_index

In [29]:
def decode(sequence):
    return ' '.join([reverse_word_index.get(idx, "?") for idx in sequence])

In [30]:
decode_text = decode(train_sequence[10])
print(train_sequence[10])
print(decode_text)

[520, 8, 395, 156, 297, 411]
three people died heat wave far

In [31]:
# Create LSTM Model
from tensorflow.keras import layers

# Embedding: https://www.tensorflow.org/tutorials/text/word_embeddings
# Turns positive integers (indexes) into dense vectors of fixed size. (other approach could be one-hot-encoding)

model = keras.models.Sequential()
model.add(layers.Embedding(num_unique_words, 32, input_length=max_length))

# The layer will take as input an integer matrix of size (batch, input_length)
# and  the largest integer (i.e. word index) in the input should be no longer than num_words (vocabulary size)
# Now model.output_shape is (None, input_length, 32), where None is tha batch dimension

model.add(layers.LSTM(64, dropout=0.1))
model.add(layers.Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 20, 32)            575072
_________________________________________________________________
lstm (LSTM)                  (None, 64)                24832
_________________________________________________________________
dense (Dense)                (None, 1)                 65
=================================================================
Total params: 599,969
Trainable params: 599,969
Non-trainable params: 0
_________________________________________________________________

In [32]:
loss = keras.losses.BinaryCrossentropy(from_logits=False)
optim = keras.optimizers.Adam(lr=0.001)
metrics = ['accuracy']

model.compile(loss=loss, optimizer=optim, metrics=metrics)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

In [33]:
model.fit(train_padded, train_labels, epochs=20, validation_data=(val_padded, val_labels), verbose=2)

Epoch 1/20
191/191 - 6s - loss: 0.5512 - accuracy: 0.7097 - val_loss: 0.4764 - val_accuracy: 0.7879
Epoch 2/20
191/191 - 4s - loss: 0.2873 - accuracy: 0.8883 - val_loss: 0.5106 - val_accuracy: 0.7787
Epoch 3/20
191/191 - 4s - loss: 0.1562 - accuracy: 0.9509 - val_loss: 0.6288 - val_accuracy: 0.7498
Epoch 4/20
191/191 - 4s - loss: 0.1149 - accuracy: 0.9645 - val_loss: 0.6547 - val_accuracy: 0.7505
Epoch 5/20
191/191 - 4s - loss: 0.0867 - accuracy: 0.9721 - val_loss: 0.6556 - val_accuracy: 0.7387
Epoch 6/20
191/191 - 4s - loss: 0.0699 - accuracy: 0.9755 - val_loss: 0.7358 - val_accuracy: 0.7439
Epoch 7/20
191/191 - 4s - loss: 0.0527 - accuracy: 0.9788 - val_loss: 1.2024 - val_accuracy: 0.7400
Epoch 8/20
191/191 - 4s - loss: 0.0467 - accuracy: 0.9775 - val_loss: 1.3367 - val_accuracy: 0.7288
Epoch 9/20
191/191 - 4s - loss: 0.0388 - accuracy: 0.9811 - val_loss: 1.5832 - val_accuracy: 0.7065
Epoch 10/20
191/191 - 4s - loss: 0.0369 - accuracy: 0.9823 - val_loss: 1.6799 - val_accuracy: 0.7177
Epoch 11/20
191/191 - 4s - loss: 0.0467 - accuracy: 0.9795 - val_loss: 1.0827 - val_accuracy: 0.7380
Epoch 12/20
191/191 - 4s - loss: 0.0404 - accuracy: 0.9826 - val_loss: 1.4192 - val_accuracy: 0.7334
Epoch 13/20
191/191 - 4s - loss: 0.0330 - accuracy: 0.9836 - val_loss: 1.4243 - val_accuracy: 0.7301
Epoch 14/20
191/191 - 4s - loss: 0.0327 - accuracy: 0.9842 - val_loss: 1.7562 - val_accuracy: 0.7275
Epoch 15/20
191/191 - 4s - loss: 0.0415 - accuracy: 0.9824 - val_loss: 1.2650 - val_accuracy: 0.7420
Epoch 16/20
191/191 - 4s - loss: 0.0334 - accuracy: 0.9836 - val_loss: 1.4730 - val_accuracy: 0.7380
Epoch 17/20
191/191 - 4s - loss: 0.0374 - accuracy: 0.9821 - val_loss: 1.7070 - val_accuracy: 0.7341
Epoch 18/20
191/191 - 4s - loss: 0.0326 - accuracy: 0.9849 - val_loss: 1.4810 - val_accuracy: 0.7262
Epoch 19/20
191/191 - 4s - loss: 0.0295 - accuracy: 0.9851 - val_loss: 1.7444 - val_accuracy: 0.7223
Epoch 20/20
191/191 - 4s - loss: 0.0325 - accuracy: 0.9846 - val_loss: 1.8513 - val_accuracy: 0.7301

In [34]:
predictions = model.predict(train_padded)
predictions = [1 if p> 0.5 else 0 for p in predictions]

In [35]:
print(train_sentence[10:20])

['three people died heat wave far'
 'haha south tampa getting flooded hah wait second live south tampa gonna gonna fvck flooding'
 'raining flooding florida tampabay tampa 18 19 days ive lost count'
 'flood bago myanmar arrived bago'
 'damage school bus 80 multi car crash breaking' 'whats man' 'love fruits'
 'summer lovely' 'car fast' 'goooooooaaaaaal']

In [36]:
print(train_labels[10:20])
print(predictions[10:20])

[1 1 1 1 1 0 0 0 0 0]
[1, 1, 1, 1, 1, 0, 0, 0, 0, 0]